html, body{
	height: 100%;
}
.header{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: #1e9e69;
    border-bottom: #57b382 solid 4px;
    z-index: 20;
}
.header ul li{
	display:inline-block;
	line-height: 70px;
	padding: 0 15px;
	font-family: "Microsoft YaHei",Arial, Verdana, Helvetica, sans-serif;
   	color: white;
   	cursor: pointer;
}
.header ul li:hover{
	background-color: rgba(108, 218, 173, 0.5);
}
.body-container{
	position:relative;
	margin-top: 70px;
}
.content-body-container{
	width: 80%;
	margin: 0 auto;
}