{
    "presets": [
      [
        "es2015",
        {
          "module": false
        }
      ],
      "react"
    ],
    "plugins": [
      ["import", { "libraryName": "antd", "style": true}],
      ["import", { "libraryName": "antd-mobile", "style": true}]
    ]
  }
  